:root {
    --primary-color: #E3E8E9;
    --secondary-color: #2F4E2D;
    --tertiary-color: #E4B4B4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Garamond, serif;
    font-weight: 100;
    background-color: var(--primary-color);
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--tertiary-color);
    z-index: 9999;
    letter-spacing: 0.5em;
}

header h1 {
    font-weight: 100;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: var(--secondary-color);
    text-shadow: none;
}

section {
    padding: 40px;
}

.hero {
    background-image: url(../assets/images/peony.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.hero h1 {
    font-weight: 300;
    font-size: 48px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 10px 10px 15px rgba(255, 255, 255, 1);
    letter-spacing: 0.5em;
    text-align: center;
}

.section-title {
    font-size: 42px;
    font-weight: 200;
    color: var(--tertiary-color);
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 0.5em;
}

.info p {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
}

.projects {
    margin: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.project {
    position: relative;
    margin: 10px;
}

.project:first-child {
    width: 100%;
}

.project:not(:first-child) {
    flex: 1;
}

.project-title {
    position: absolute;
    top: 5%;
    left: 0;
    border: 3px solid var(--tertiary-color);
    z-index: 2;
    background-color: var(--tertiary-color);
    padding: 5px 10px;
}

.project-title h2 {
    font-size: 2vw;
    font-weight: 200;
    color: var(--secondary-color);
}

.project img {
    opacity: 0.7;
    border: 3px solid var(--tertiary-color);
    max-width: 100%;
}

.project img:hover {
    opacity: 1;
    border: 3px solid var(--secondary-color);
}

.contact-info {
    margin: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary-color);
    font-size: 24px;
}

.contact-info div {
    font-style: normal;
    padding-bottom: 10px;
}

.contact-info a {
    color: var(--secondary-color);
    text-decoration: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 2.5vw;
    }

    .project-title h2 {
        font-size: 2.5vw;
    }

    .projects {
        width: 80%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .projects {
        width: 85%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        position: relative;
        justify-content: center;
    }

    .projects {
        width: 100%;
    }

    .project:not(:first-child) {
        flex: auto;
        width: 100%;
    }
}